@*@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <form class="form-inline my-2 my-lg-0 navbar-right">
            <a class="nav-link">@Html.ActionLink(User.Identity.GetUserName() + " ;)", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })<span class="sr-only">(current)</span></a>
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </form>
    }
}
else
{
    <form class="form-inline my-2 my-lg-0 navbar-right">
        <a class="nav-link">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })<span class="sr-only">(current)</span></a>
        <a class="nav-link">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })<span class="sr-only">(current)</span></a>
    </form>
}*@
