@using BugTracker.Resources.Views.Shared;
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Error.Error;
}

<h1 class="text-danger">@Error.ErrorName</h1>
<h2 class="text-danger">@Error.Description</h2>

