@using BugTracker.Resources.Views.Shared;
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Lockout.Lockout;
}

<hgroup>
    <h1 class="text-danger">@Lockout.LockoutName</h1>
    <h2 class="text-danger">@Lockout.Description</h2>
</hgroup>
